.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header-link {
  color: #09d3ac;
}

.Header-menu {
  list-style: none;
  padding: 0;
}
